<div class="row">
  <div class="container col-md-8">
  	<div class="jumbotron">
    	<%= render :partial => "employee_details" %>
  	</div>
  </div>
</div>


<% content_for :pg_specific_links do %>
   <li class="nav-item"><%= link_to "Edit Employee", edit_employee_path(@employee), class: "nav-link" %>
<% end %>