
<%= form_tag search_output_path, :method => "get", remote: true do %>
  <span class="fa fa-search"></span><%= text_field_tag :search, params[:search], id: "searchInput" %>
   <%= submit_tag "Search", :name => nil, id: 'search_form_submit_button' %>
<% end %>