<%= render partial: "partials/customer_nav" %>
<br>
<div class="container">
<div class="row">
<div class="col-sm-7">
<%= render partial: "orders/form" %>
</div>
<div class="col-sm-5">
<%= render partial: "cart_items" %>	
</div>
</div>
</div>