<%= render partial: "partials/customer_nav" %>

<div class="container form-container" style="padding-bottom: 0;">
<div class="row">
<div class="col-lg-7">
<%= render partial: "checkout_form" %>
</div>
<div class="col-lg-5">
<%= render partial: "cart_items" %>	
</div>
</div>
</div>