<div class="container form-container">
<div class="row">
<div class="col-sm-7">
<%= render partial: "checkout_form" %>
</div>
<div class="col-sm-5">
<%= render partial: "cart_items" %>	
</div>
</div>
</div>