<li><%= link_to "Item List", items_path %></li>
<li><%= link_to "Purchases", purchases_path %></li>
<li><%= link_to "Order List", orders_path %></li>
<li><%= link_to "Employee List", employees_path %></li>