<div id="cart">
  <div id="mySidenav" class="sidenav">
    <div class="container">
      <div class="upper">
        <h3>Your Cart</h3>
        <hr>
        <%= render partial: "stores/cart_items" %>
        
      </div>
        <% if @cart.nil? or @cart.empty? %>
        <% else %>
        <%= link_to "Checkout", stores_checkout_path, class: "btn btn-outline-primary full-width" %> 
        <% end %>
    </div>
  </div>
</div>