<div id="cart">
  <div id="mySidenav" class="sidenav">
    <div class="container">
      <div class="upper">
        <h3>Your Cart</h3>
        <%= render partial: "stores/cart_items" %>
        <hr>
      </div>
      <div class="lower">
        <table class="full-width">
          <tr>
            <td>Total</td>
            <td class="align-right">$0.00</td>
          </tr>
        </table>
        <br>
        <a class="btn btn-primary full-width white-text">Checkout Now</a>
      </div>
    </div>
  </div>
</div>