<!-- Top Navbar -->
<nav class="navbar navbar-toggleable-md navbar-inverse bg-custom mb-4" id="main-nav">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="javascript:history.go(-1)">A&amp;M</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <%= yield :pg_specific_links %>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-user" aria-hidden="true"></span></a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "My Profile", user_path(@current_user), remote: true, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Logout', logout_path, class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</nav>