<br>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="well col-height">
          <div class="parent">
            <div class="colimage colimage1">
            </div>
            <span>Boards</span>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="well col-height">
          <div class="parent">
            <div class="colimage colimage2">
            </div>
            <span>Pieces</span>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="well col-height">
          <div class="parent">
            <div class="colimage colimage3">
            </div>
            <span>Clocks</span>
          </div>
        </div>
      </div>
    </div>
  </div>