<% unless items.nil? || items.empty? %> 
  <div class="col-sm-3">
  <div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item active"><%= item_type.capitalize %></li>
      <% items.each do |item| %>
        <li class="list-group-item">
          <%= link_to item.name, item_path(item) %>
          <br>
          <span class="badge badge-success"><%= number_to_currency item.current_price %></span>
          &nbsp;
          <% if item.inventory_level < item.reorder_level %>
          <span class="badge badge-danger">
          <% else %> 
          <span class="badge badge-primary">
          <% end %>
          <%= item.inventory_level %></span>
        </li>
      <% end %>
  </ul>
</div>
<br>
<br>
</div>
<% end %>