<div class="row">
  <div class="container col-md-12">
    <div class="jumbotron">
      <%= render :partial => "item_details" %>
    </div>
  </div>
</div>

<%= render :partial => "similar_items" unless @similar_items.empty?%>