<% unless @similar_items.empty? %>
  <div class="container">
    <h5>Similar Items</h5>
    <div class="row">
      <% @similar_items.each do |item| %>
        <%= button_to item.name, item_path(item), :method => :get, :class => "btn btn-sm btn-secondary btn-width col-xs-1" %>
      <% end %>
    </div>
  </div>
<% end %>