<div class="row">
  <div class="container col-sm-7">
  	<div class="jumbotron">
    	<%= render :partial => "item_details" %>
  	</div>
  </div>
  <div class="container col-sm-5">
    <div class="container">
    	<%= render :partial => "price_history" unless @price_history.empty?%>
  	</div>
  	<br>
  	<div class="container">
  	  <div class="jumbotron less-padding">
  	  	<!-- Placeholder for actual form -->
  		<form>
  			<input type="text" name="" placeholder="New Price">
  			<input type="submit" name="" class="btn btn-success">
  		</form>
  	  </div>
  	</div>
  </div>
</div>
<%= render :partial => "similar_items" unless @similar_items.empty?%>
	
</div>

<!-- Add buttons to list all, edit project or destroy object -->
<!-- <%= render partial: "partials/object_options", locals: {model_name: "item", object: @item}  %> -->