<div id="active_schools">
<% unless @schools.nil? || @schools.empty? %> 
  <table class="table table-striped">
    <thead class="bg-primary text-white">
      <tr>
        <th>School Name</th>
        <th>Grades</th>
        <th>State</th>
      </tr>
      </thead>
      <% @schools.each do |school| %>
      <tr>
        <td><%= link_to school.name, school_path(school) %></td>
        <td><% if school.min_grade == 0 %> K <% else %> <%= school.min_grade %> <% end %> through <%= school.max_grade %></td>
        <td><%= school.state %></td>
      </tr>
      <% end %>
  </table>
</div>
<br>
<br>
</div>
<% end %>
</div>