<% if not logged_in? or current_user.role? :customer%>
<%= render partial: "partials/customer_nav" %>
<br>
<br>
<br>
<br>
<% else %>
<% content_for :pg_specific_links do %>
 <li class="nav-item"><%= link_to "Edit School", edit_school_path(@school), class: "nav-link" %></li>
<% end %>

<% end %>

<div class="row">
  <div class="container col-sm-7">
  	<div class="jumbotron">
    	<%= render :partial => "school_details" %>
  	</div>
  </div> 
</div>

