<div class="row">
  <div class="container col-sm-7">
  	<div class="jumbotron">
    	<%= render :partial => "school_details" %>
  	</div>
  </div>
  <%= render partial: "partials/object_options", locals: {model_name: "school", object: @school}  %> 
</div>