/* CSS3 */
html, body{
  overflow-x: hidden;
}


/* The whole thing */
.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
}

.custom-menu li:hover {
    background-color: #DEF;
}

*{
  font-family: 'Roboto';
  font-weight: 300;
}

#menu{
  width: 400px;
  height: 400px;
  position: fixed;
}

#menu div{
  transition: all 0.6s cubic-bezier(.7,.3,0,1);
  transition-property: -webkit-clip-path;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  font-size: 18px;
  text-align: center;
}

#menu a{
  color: white;
  text-decoration: none;
}

#menu a:hover{
  color: #ccc;
}

#menu div{
  -webkit-clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%);  
}

#menu.shown div{
  -webkit-clip-path: polygon(50% 50%, 34.69% 13%, 34.69% 13%, 65.3% 13%, 65.3% 13%);
}

#menu.shown div:hover{
  -webkit-clip-path: polygon(50% 50%, 34.69% 13%, 34.69% 3.8%, 65.3% 3.8%, 65.3% 13%);
}

#menu.shown div:nth-child(1){
  background-color: #0078D5; 
}

#menu.shown div:nth-child(2){
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari */
    transform: rotate(-45deg); /* Standard syntax */
    background-color: #00589C;
}

#menu.shown div:nth-child(3){
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari */
    transform: rotate(-90deg); /* Standard syntax */
    background-color: #00467B;
}

#menu.shown div:nth-child(4){
    -ms-transform: rotate(-135deg); /* IE 9 */
    -webkit-transform: rotate(-135deg); /* Safari */
    transform: rotate(-135deg); /* Standard syntax */ 
  background-color: #219DFC;
}

#menu.shown div:nth-child(5){
    -ms-transform: rotate(-180deg); /* IE 9 */
    -webkit-transform: rotate(-180deg); /* Safari */
    transform: rotate(-180deg); /* Standard syntax */
    background-color: #0078D5;
}

#menu.shown div:nth-child(6){
    -ms-transform: rotate(-225deg); /* IE 9 */
    -webkit-transform: rotate(-225deg); /* Safari */
    transform: rotate(-225deg); /* Standard syntax */
    background-color: #00589C;
}

#menu.shown div:nth-child(7){
    -ms-transform: rotate(-270deg); /* IE 9 */
    -webkit-transform: rotate(-270deg); /* Safari */
    transform: rotate(-270deg); /* Standard syntax */
    background-color: #00467B;
}

#menu.shown div:nth-child(8){
    -ms-transform: rotate(-315deg); /* IE 9 */
    -webkit-transform: rotate(-315deg); /* Safari */
    transform: rotate(-315deg); /* Standard syntax */
    background-color: #219DFC;
}

#menu.shown div:hover{
  background-color: #002745;
}

#menu.shown:hover{
  animation-play-state: paused;
}

#menu.shown {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 20000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 20000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 20000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 20000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;       
    transform 5.8s ease-in-out;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


#search{
  width: 50%;
  position: fixed;
  top: calc(30vh - 80px);
  left: 25%;
  background-color: #22231D;
  color: #757575;
  font-size: 3em;
  padding: 15px; 
}

.hide{
  display: none;
}

#search input{
  width: calc(100% - 70px);
  padding-left: 15px;
  background-color: #22231D;
  font-size: 1em;
  color: white;
  border: 0;
  outline: none;
}

.right {
    position: fixed;
    font-weight: 100;
    -webkit-transform-origin: 100% 100%;
    -webkit-transform: rotate(-90deg);
    right: 10px;
    top: calc(50vh - 194px);
}


main{
  min-height: calc(100vh - 16px);
  width: 80%;
  margin: 4% 10% 4% 10%;
  padding: 10px;
}

.btn-width{
  width: 120px;
  min-height: 80px;
  word-wrap: break-word;
  white-space: normal;
  margin: 5px;
}

input[type='text'],input[type='number'],input[type="password"],input[type='email'], textarea, select {
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    color: #999;
    display: block;
    font: 400 1em/1 "Open Sans",sans-serif;
    margin: 0 0 .5em;
    padding: 1em 1.25em;
    width: 100%;
    -webkit-transition: border-color 300ms,color 300ms;
    transition: border-color 300ms,color 300ms;
    -webkit-appearance: none;
    outline: none;
}
.full-width{
  width: 100%;
}

.less-padding{
  padding: 2em;
}

/*Checkbox*/

.control-group {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding: 30px;
  width: 200px;
  height: 210px;
  margin: 10px;
}
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #0e647d;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000;
  background: #ccc;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}
